[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "JMP"]
	path = JMP
	url = https://github.com/drunderscore/JMP
[submodule "miniaudio"]
	path = miniaudio
	url = https://github.com/mackron/miniaudio
